.page-breaks{
    page-break-after: always;
}

.barcode-style{
    display: flex;
    justify-content: center;
    align-items: center;
}

.barcode-viewer{
    overflow-y: scroll;
    height: 60vh;
}

.print-table-barcode tbody tr{
    page-break-after: always;
}